*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  background-color: black;
}
.imgdiv{
  width: 200px;

height: 270px;

position: absolute;}

.box{
  width: 700px;
  height: 800px;
 
position: relative;
}
.imgdiv img{
  height:100%;
  width:100%;
  position: absolute;
 

}